<div *ngIf='loggedUser !== undefined'>
  <img class="ui big circular image" src="{{loggedUser.profileImage}}">
  <br>
  <div class="ui label">
    {{loggedUser.displayName}}
  </div>

  <div class="ui huge vertical text menu">
    <nav>
      <a [routerLink]="'/home'" [routerLinkActive]="'active'" class="item">Home</a>
      <a [routerLink]="'/products'" [routerLinkActive]="'active'" class="item">Products Listing</a>
      <a [routerLink]="'/profile'" [routerLinkActive]="'active'" class="item">Profile</a>
    </nav>
  </div>

</div>
