:root {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 4em auto 3em;
  gap: 0.5em;
  grid-template-areas:
      "navigation   header"
      "navigation  main"
      "navigation   footer"
  ;
  height: 100vh;
  width: 99vw;
}

.header {
  grid-area: header;
  font-size: 2rem;
  color: orange;
}

.navigation {
  grid-area: navigation;
  font-size: 2rem;
  color: orange;
  padding: 1em;
  background-color: #fff;
}

.main {
  grid-area: main;
  background-color: #fff;
  padding: 1em;
  text-transform: capitalize;
}


.footer {
  grid-area: footer;
  background-color: #aaa;
  color: #fff;
  padding: 1em 0.5em;
  text-align: center;
}


.header span:first-child {
  font-weight: 600;
}

.header span:last-child {
  font-style: italic;
  font-weight: 100;
}




