.page {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 4em auto 3em;
  /* gap: 0.1em; */
  grid-template-areas:
      "navigation   fheader"
      "navigation  main"
      "navigation   footer"
  ;
  height: 100vh;
  width: 99.9vw;
}

.header {
  grid-area: fheader;
  font-size: 2rem;
  color: orange;
  justify-items: end;
  padding: 0.3em;
  /*float: right;*/
}

.navigation {
  grid-area: navigation;
  font-size: 2rem;
  color: orange;
  padding: 1em;
  background-color: rgb(14, 93, 184);
}

.main {
  grid-area: main;
  background-color: #fff;
  padding: 1em;
  text-transform: capitalize;
}


.footer {
  grid-area: footer;
  background-color: #aaa;
  color: #fff;
  padding: 1em 0.5em;
  text-align: center;
}


.fheader span:first-child {
  font-weight: 600;
}

.fheader span:last-child {
  font-style: italic;
  font-weight: 100;
}




